{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>what's the411Blog - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="{% static 'https://fonts.googleapis.com' %}">
  <link rel="preconnect" href="{% static 'https://fonts.gstatic.com' %}" crossorigin>
  <link href="{% static 'https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Inter:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap' %}" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS Files -->
  <link href="{% static 'assets/css/variables.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">


</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>what's the411Blog</h1>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li class="dropdown"><a href=""><span>Categories</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href=""></a></li>
              <li class="dropdown"><a href="#"><span>Dropdown</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                <ul>
                  <li><a href="{% url 'post_list' category='relationship' %}">Relationship</a></li>
                  <li><a href="{% url 'post_list' category='Travel' %}">Travel</a></li>
                  <li><a href="{% url 'post_list' category='Career' %}">Career</a></li>
                  <li><a href="{% url 'post_list' category='Faith' %}">Faith</a></li>
                  <li><a href="{% url 'post_list' category='Jobs' %}">Jobs</a></li>
                  <li><a href="{% url 'post_list' category='Sport' %}">Sport</a></li>
                  <li><a href="{% url 'post_list' category='Health' %}">Health</a></li>
                  <li><a href="{% url 'post_list' category='Money' %}">Make Money</a></li>
                  <li><a href="{% url 'post_list' category='Tech' %}">Tech and Tech Products</a></li>
                </ul>
              </li>
              <li><a href="{% url 'post_list' category='Pets' %}">Pets & Pet Lovers</a></li>
              <li><a href="{% url 'post_list' category='Cars' %}">Cars</a></li>
              <li><a href="{% url 'post_list' category='Movies' %}">Movies</a></li>
            </ul>
          </li>

          <li><a href="about.html">About</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </nav><!-- .navbar -->

      <div class="position-relative">
        <a href="" class="mx-2 js-search-open"><span class=""></span></a>
        <a href="#" class="mx-2"><span class=""></span></a>
        <a href="#" class="mx-2"><span class=""></span></a>
        <a href="#" class="mx-2"><span class=""></span></a>

        
        <i class="bi bi-list mobile-nav-toggle"></i>

        <!-- ======= Search Form ======= -->
        <div class="search-form-wrap js-search-form-wrap">
          <form action="{% url 'search' %}" method="GET" class="search-form">
            <span class="icon bi-search"></span>
            <input type="text" placeholder="Search" name="query" class="form-control">
            <button class="btn js-search-close"><span class="bi-x"></span></button>
          </form>
        </div><!-- End Search Form -->

      </div>

    </div>

  </header><!-- End Header -->
  {% block content %}
  <main id="main">


    <!-- ======= Culture Category Section ======= -->
    <section class="category-section">
      <div class="container" data-aos="fade-up">
        {% for category, post in latest_posts.items %}
          {% if post %}
              <div class="section-header d-flex justify-content-between align-items-center mb-5">
                <h2>{{ category }}</h2>
                <div><a href="" class="more"></a></div>
              </div>

              <div class="row">
                <div class="col-md-9">
                  {% if post.image %}
                    <div class="d-lg-flex post-entry-2">
                      <a href="" class="me-4 thumbnail mb-4 mb-lg-0 d-inline-block">
                        <img src="{{ post.image.url }}" alt="" class="img-fluid">
                      </a>
                      <div>
                  {% endif %}
                      <div class="post-meta"><span class="date">{{ category }}</span> <span class="mx-1">&bullet;</span> <span>{{ post.created |date:'M-d-Y ' }}</span></div>
                      <h3><a href="{% url 'post_detail' category=category.slug slug=post.slug %}">{{ post.title }}</a></h3>
                      <p>{{ post.body | truncatewords:30 }}</p>
                    </div>
                  </div>       
              </div>
          
            <div class="col-md-3">
                
                  {% if forloop.counter <= 4 %}
                      {% if post %}
                          <div class="post-entry-1 border-bottom">
                              <div class="post-meta"><span class="date">{{ post.title }}</span> <span class="mx-1">&bullet;</span> <span>{{ post.created |date:'M-d-Y ' }}</span></div>
                          
                              <h2 class="mb-2"><a href="{% url 'post_detail' category=category.slug slug=post.slug %}">{{ post }}</a></h2>
                              <span class="author mb-3 d-block">{{post.author}}</span>
                          
                          </div>
                      {% endif %}
                  {% endif %}
            </div>
          {% endif %}
        {% endfor %}
        </div>
    </section><!-- End Culture Category Section -->

  </main><!-- End #main -->
  {% endblock %}
  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-content">
      <div class="container">

        <div class="row g-5">
          <div class="col-lg-4">
            <h3 class="footer-heading">About what's the411Blog</h3>
            <p>Welcome to what's the 411, where tou can find the latest information on Career, Travel, Faith, Cars, Movies,  Jobs, Relationship, Pet and many more.</p>
            <p><a href="about.html" class="footer-link-more">Learn More</a></p>
          </div>
          <div class="col-6 col-lg-2">
            <h3 class="footer-heading">Navigation</h3>
            <ul class="footer-links list-unstyled">
              <li><a href="{% url 'home' %}"><i class="bi bi-chevron-right"></i> Home</a></li>
              <li><a href="about.html"><i class="bi bi-chevron-right"></i> About us</a></li>
              <li><a href="contact.html"><i class="bi bi-chevron-right"></i> Contact</a></li>
            </ul>
          </div>
          <div class="col-6 col-lg-2">
            <h3 class="footer-heading">Categories</h3>
            <ul class="footer-links list-unstyled">
              <li><a href="{% url 'post_list' category='relationship' %}"><i class="bi bi-chevron-right"></i> Relationship</a></li>
              <li><a href="{% url 'post_list' category='Travel' %}"><i class="bi bi-chevron-right"></i> Travel</a></li>
              <li><a href="{% url 'post_list' category='Career' %}"><i class="bi bi-chevron-right"></i> Career</a></li>
              <li><a href="{% url 'post_list' category='Faith' %}"><i class="bi bi-chevron-right"></i> Faith</a></li>
              <li><a href="{% url 'post_list' category='Jobs' %}"><i class="bi bi-chevron-right"></i> Jobs</a></li>
              <li><a href="{% url 'post_list' category='Pets' %}"><i class="bi bi-chevron-right"></i> Pets & Pet Lovers</a></li>
              <li><a href="{% url 'post_list' category='Cars' %}"><i class="bi bi-chevron-right"></i> Cars</a></li>
              <li><a href="{% url 'post_list' category='Movies' %}"><i class="bi bi-chevron-right"></i> Movies</a></li>
            </ul>
          </div>

          <div class="col-lg-4">
            <h3 class="footer-heading">Recent Posts</h3>
            {% for category, post in latest_posts.items %}
              {% if post %}
                <ul class="footer-links footer-blog-entry list-unstyled">
                  <li>
                    <a href="{% url 'post_detail' category=category.slug slug=post.slug %}" class="d-flex align-items-center">
                      {% if post.image %}
                        <img src="{{ post.image.url }}" alt="" class="img-fluid me-3">
                      {% endif %}
                      <div>
                        <div class="post-meta d-block"><span class="date">{{ category }}</span> <span class="mx-1">&bullet;</span> <span>{{ post.created |date:'M-d-Y ' }}</span></div>
                        <span>{{ post.title }}</span>
                      </div>
                    </a>
                  </li>
                </ul>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <div class="footer-legal">
      <div class="container">

        <div class="row justify-content-between">
          <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
            <div class="copyright">
              © Copyright <strong><span>what's the411Blog</span></strong>. All Rights Reserved
            </div>

            <div class="credits">
             
              Designed by <a href="daviddanielcareer@gmail.com">David Daniel</a>
            </div>

          </div>

          <div class="col-md-6">
            <div class="social-links mb-3 mb-lg-0 text-center text-md-end">
              <a href="#" class="twitter"><i class=""></i></a>
              <a href="#" class="facebook"><i class=""></i></a>
              <a href="#" class="instagram"><i class=""></i></a>
              <a href="#" class="google-plus"><i class=""></i></a>
              <a href="#" class="linkedin"><i class=""></i></a>
            </div>

          </div>

        </div>

      </div>
    </div>

  </footer>

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>