{% extends 'home.html' %}

{% load static %}

{% block content %}
<main>
  <br><br><br><br><br>
  <form action="{% url 'search' %}" method="GET">
    <input type="text" name="query" placeholder="Search...">
    <button type="submit">Search</button>
</form>

<!-- ======= Search Results ======= -->
<section id="search-result" class="search-result">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <h3 class="category-title">Search Results for "{{ query }}"</h3>
        {% if posts %}
          {% for post in posts reversed %}
          {% if query|lower in post.title|lower or query|lower in post.body|lower or query|lower in post.categories.first.name|lower %}
        <div class="d-md-flex post-entry-2 small-img">
          {% if post.image %}
            <a href="" class="me-4 thumbnail">
              <img src="{{ post.image.url }}" alt="" class="img-fluid">
            </a>
          {% else %}
            <a href="" class="me-4 thumbnail">
              <img src="{% static 'assets/img/default.png' %}" alt="" class="img-fluid">
            </a>
          {% endif %}
          <div>
            <div class="post-meta"><span class="date">{{ post.categories.first.name }}</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
            <h3><a href="{% url 'post_detail' category=post.categories.first.slug slug=post.slug %}">{{ post.title }}</a></h3>
            <p>{{ post.body |safe | truncatewords:30 }}</p>
            <div class="d-flex align-items-center author">
              <div class="name">
                <h3 class="m-0 p-0">{{ post.author }}</h3>
              </div>
            </div>
          </div>
        </div>
          {% endif %}
        {% endfor %}
    {% else %}
        <p>No results found.</p>
    {% endif %}
      </div>
    </div>
  </div>
</main><!-- End #main -->
{% endblock %}
{% block recent_posts %}
          <div class="col-lg-4">
            <h3 class="footer-heading"></h3>
            {{ latest_posts }}
            {% for category, post in latest_posts.items %}
              {% if post %}
                <ul class="footer-links footer-blog-entry list-unstyled">
                  <li>
                    <a href="{% url 'post_detail' category=category.slug slug=post.slug %}" class="d-flex align-items-center">
                      {% if post.image %}
                        <img src="{{ post.image.url }}" alt="" class="img-fluid me-3">
                      {% endif %}
                      <div>
                        <div class="post-meta d-block"><span class="date">{{ category }}</span> <span class="mx-1">&bullet;</span> <span>{{ post.created |date:'M-d-Y ' }}</span></div>
                        <span>{{ post.title }}</span>
                      </div>
                    </a>
                  </li>
                </ul>
              {% endif %}
            {% endfor %}
{% endblock %}